{% extends 'set/base.html' %}

{% block content %}
    {% for book in books %}
    <tr>
      <td>{{ book.author }}</td>
      <td><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></td>
      <td>{{ book.text }}</td>
      <td>published: {{ book.published_date }}</td>
    </tr>
    {% endfor %}
{% endblock %}

    <!-- <tr>
      <td>ns</td>
      <td>python</td>
      <td>about python.</td>
      <td>2018-11-27</td>
    </tr>
    <tr>
      <td>usknisha</td>
      <td>django</td>
      <td>django</td>
      <td>2018-11-27</td>
    </tr> -->
