{% extends 'set/base.html' %}

{% block content %}

        <!-- {% if book.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %} -->

{% if user.is_authenticated %}
<a class="btn btn-default" href="{% url 'book_edit' pk=book.pk %}">Edit</a>
{% endif %}
        <td>{{ book.author }}</td>
        <td>{{book.title}}</td>
        <td>{{ book.text }}</td>
        <td>{{ post.published_date }}</td>

{% endblock %}
